{% extends 'base.html' %}

{% block content %}
  {% include 'classroom/students/_header.html' with active='new' %}

<div class="container">
  <div class="row">
    <div class="col">
      <form class="form-inline">
  <div class="form-group">
    <label class="sr-only">Find quiz</label>
    <input name="q" type="text" class="form-control" id="q" placeholder="Search...">
  </div>
</form>
    </div>
    <div class="col">
      <form class="form-inline">
        <div class="form-group">
      <select name="type" id="inlineFormCustomSelect" class="custom-select">
        <option selected>Subject</option>
        {% for subject in subjects_list %}
        <option value={{ subject.id }} >{{ subject.name }}</option>
        {% endfor %}
        <option value="all">All</option>
      </select>
      <button type="submit" class="btn btn-primary mb-2">Submit</button>

        </div>
</form>
    </div>
        <div class="col">
      <form class="form-inline">
        <div class="form-group">
      <select name="ordering" id="ordering" class="custom-select">
        <option selected>Order</option>
        <option value="name" >A-Z</option>
        <option value="-name">Z-A</option>
      </select>
      <button type="submit" class="btn btn-primary mb-2">Submit</button>

        </div>
</form>
    </div>
  </div>
</div>



  <div class="card">
    <table class="table mb-0">
      <thead>
        <tr>
          <th>Quiz</th>
          <th>Subject</th>
          <th>Length</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for quiz in quizzes %}
          <tr>
            <td class="align-middle">{{ quiz.name }}</td>
            <td class="align-middle">{{ quiz.subject.get_html_badge }}</td>
            <td class="align-middle">{{ quiz.questions_count }} questions</td>
            <td class="text-right">
              <a href="{% url 'students:take_quiz' quiz.pk %}" class="btn btn-primary">Start quiz</a>
            </td>
          </tr>
        {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="4">No quiz matching your interests right now.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
